---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About me</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I'm a front-end developer with a passion for designing and building pixel-perfect websites.
			With experience in creating solutions for companies, I focus on crafting clean, responsive,
			and user-friendly interfaces. I'm always eager to learn and adapt to new technologies,
			constantly growing my skills to stay ahead in the ever-evolving web development landscape.
		</p>
	</div>
</PageLayout>
