---
import { type CollectionEntry, getCollection } from "astro:content";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import SocialList from "@/components/SocialList.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts.sort(collectionDateSort) as CollectionEntry<"post">[];
const latestPosts = allPostsByDate.slice(0, MAX_POSTS);

// Pinned Posts, set to a max of 3;
const MAX_PINNED_POSTS = 3;
const pinnedPosts = allPostsByDate.filter((p) => p.data.pinned).slice(0, MAX_PINNED_POSTS);

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes
	.sort(collectionDateSort)
	.slice(0, MAX_NOTES) as CollectionEntry<"note">[];
---

<PageLayout meta={{ title: "Home" }}>
	<section class="py-[4vh] text-center">
		<div class="mb-6 flex items-center justify-center gap-2">
			<svg
				class="h-25 w-25"
				viewBox="0 0 600 400"
				xmlns="http://www.w3.org/2000/svg"
				xml:space="preserve"
				style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"
			>
				<path
					d="M561.38 68.121V331.88c0 31.844-25.853 57.697-57.697 57.697H96.317c-31.844 0-57.697-25.853-57.697-57.697V68.121c0-31.844 25.853-57.697 57.697-57.697h407.366c31.844 0 57.697 25.853 57.697 57.697"
					style="fill:#59b6a5"></path>
				<path
					style="fill:#fff;fill-rule:nonzero;stroke:#000;stroke-opacity:0;stroke-width:1px"
					d="M95.792 63.173h36.347v258.013H95.792zM201.97 313.487q15.219 7.7 34.02 7.699 18.8 0 34.02-7.699a29.7 29.7 0 0 0 4.834-3.044v10.564h36.347V145.358h-36.526v89.167q0 21.308-7.52 34.02-9.669 16.293-31.155 16.294-21.844 0-31.513-16.831-7.341-12.891-7.341-34.736v-87.914h-36.347v87.914q0 28.649 10.922 49.776 10.743 20.59 30.26 30.439Zm176.186-98.836q7.699-32.945 43.868-32.945 36.168 0 43.868 32.945zm126.052 34.378v-17.368q0-8.774-1.432-17.01-5.013-32.23-26.5-50.671-21.486-18.621-54.252-18.621-37.422 0-59.803 23.993-22.381 23.814-22.381 63.921t22.919 63.921q22.74 23.993 61.056 23.993 26.5 0 47.09-11.459 20.59-11.28 30.439-31.513l-32.587-15.936q-5.193 10.564-17.01 16.652-11.997 5.909-27.932 5.909-39.212 0-46.195-35.81h126.589Z"
				></path>
			</svg>
		</div>
		<h1 class="mb-8 text-5xl font-bold">Hello World!</h1>
		<p class="mx-auto mb-6 max-w-4xl text-2xl text-gray-600 dark:text-gray-400">
			I'm a front-end developer. This is my little corner of the internet where I showcase projects
			I'm working on and occasionally share thoughts on tech, life, or whatever is on my mind.
		</p>
		<SocialList />
	</section>
	{
		pinnedPosts.length > 0 && (
			<section class="mt-16">
				<h2 class="title mb-6 text-xl">Pinned Posts</h2>
				<ul class="space-y-4" role="list">
					{pinnedPosts.map((p) => (
						<li class="grid gap-1 sm:grid-cols-[auto_1fr]">
							<PostPreview post={p} />
						</li>
					))}
				</ul>
			</section>
		)
	}
	<section class="mt-16">
		<h2 class="title text-accent mb-6 text-xl"><a href="/posts/">Posts</a></h2>
		<ul class="space-y-4" role="list">
			{
				latestPosts.map((p) => (
					<li class="grid gap-1 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	{
		latestNotes.length > 0 && (
			<section class="mt-16">
				<h2 class="title text-accent mb-6 text-xl">
					<a href="/notes/">Notes</a>
				</h2>
				<ul class="space-y-6" role="list">
					{latestNotes.map((note) => (
						<li>
							<Note note={note} as="h3" isPreview />
						</li>
					))}
				</ul>
			</section>
		)
	}
</PageLayout>
