---
const { variant = "default", showHash = true, title } = Astro.props;

// CSS-классы для вариантов стилей
const badgeClasses = {
	base: "flex items-baseline pt-[0.075rem] rounded-lg h-6 px-2 text-sm font-medium transition-colors",
	variants: {
		default: "bg-gray-300 text-gray-800 hover:brightness-105",
		accent: "bg-lue-mint text-black hover:brightness-105",
		"accent-base": "bg-lue-berry text-white hover:brightness-105",
		"accent-one": "bg-lue-beige text-black hover:brightness-105",
		"accent-two": "bg-lue-mint text-black hover:brightness-105",
		muted: "bg-gray-300 text-gray-800 hover:brightness-105",
	},
};

const variantClasses = badgeClasses.variants[variant as keyof typeof badgeClasses.variants]; // Приведение типов
---

<div class={`${badgeClasses.base} ${variantClasses}`}>
	{showHash && <span class="h-full">#</span>}
	{title}
	<slot />
</div>
